
/* Styles for Hero Section */

.sub-hero {
    width: 100%;
    height: 60vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.sub-hero h1 {
    font-size: 6rem;
    text-align: center;
}

.sub-hero p {
    text-align: center;
}